:root {
    --purple: #79025B;
    --pink: #D67AB1;
    --pastelpink: #E7B1D0;
    --white: #FDF7FA;
    --paleblue: #A8DCD9;
    --yellow: #FFBA08;
    --blue: #3F88C5;
    --brightpink: #E43F6F;
    --midpurple: #BE3E82;
    --midpink: #F56476;
    --green: #197278;
  }

* {
    
    box-sizing: border-box;

  }
  
  body {
    font-family: 'Sanchez', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
  }
  
  header {
    padding: 80px;
    text-align: center;
    background: var(--blue);
    color: var(--purple);
    font-size: xx-large;
    font-family: 'Zen Tokyo Zoo', Georgia, 'Times New Roman', Times, serif;
  }
  
  nav {
    display: flex;
    flex-direction: column;
    background-color: var(--pastelpink);
    justify-content: flex-end;
  }
  

  nav a {
    color: var(--purple);
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    font-family: 'Sanchez';
  }
  /* mouse over link */
a:hover {
    color: var(--pastelpink);
  }
  
  /* selected link */
  a:active {
    color: var(--blue);
  }


  aside {
    background-color: var(--midpink);
    padding: 20px;
    text-align: end;
  }
  main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  
  
  section {
    background-color: var(--midpurple);
    padding: 20px;
    color: var(--white);
  }
  
  article {
      padding: 20px;
      align-content: center;
      padding: 20px;
      background-image: url(../assets/images/pinkballoons.jpg) ;
      background-size:contain;
      background-repeat: repeat;
      flex-wrap:wrap;
  }
  .WedHub {
    background-color: var(--paleblue);
    text-align: right;
    color: var(--purple);
    
  }

  div.gallery {
    margin: 5px;
    padding: 20px 20px 20px 20px;
    border: 3px solid var(--brightpink);
    float: center;
    width: 300px;
    height: auto;

  }

  div.gallery:hover {
    border: 10px solid var(--purple);
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }

  .Contactme {
    text-align: center;
    text-decoration: wavy;
    list-style: none;
  }
  
  footer {
    padding: 20px;
    text-align: center;
    background: var(--paleblue);
    color: var(--purple);
  }
  
  @media screen and (min-width: 768px) {

    
    nav {
      flex-direction: row;
    }
  

    article {
      padding: 20px;
      background-image: url(../assets/images/pinkballoons.jpg) ;
      background-size:contain;
      background-repeat: repeat;
      background-color: var(--yellow);
      display:flex;
    }

    header {
      background: var(--blue);
    }
  
    nav,
    footer {
      background-color: var(--paleblue);
    }

    div.gallery {
      flex-direction: row;
      justify-content:center;
  }

  
  
  