/* Theme colours*/
:root {
    --purple: #79025B;
    --pink: #D67AB1;
    --pastelpink: #E7B1D0;
    --white: #FDF7FA;
    --paleblue: #A8DCD9;
    --yellow: #FFBA08;
    --blue: #3F88C5;
    --brightpink: #E43F6F;
    --midpurple: #BE3E82;
    --midpink: #F56476;
    --green: #197278;
  }

* {
    box-sizing: border-box;
  }
  /*Font family added using google fonts*/
  body {
    font-family: 'Sanchez', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
  }
  /*Header has unique font*/
  header {
    padding: 80px;
    text-align: center;
    background: var(--blue);
    color: var(--purple);
    font-size: xx-large;
    font-family: 'Zen Tokyo Zoo', Georgia, 'Times New Roman', Times, serif;
  }
/*Add rainbow line for effect*/
  .top {
    position: relative;
    height: 10px;
    background: linear-gradient(141deg, cyan 0%, rebeccapurple 40%, deeppink 90%);
  }
  /* Nav style is column for mobile */
  nav {
    display: flex;
    flex-direction: column;
    background-color: var(--pastelpink);
    justify-content: flex-end;
  }
  
/*navigation link styles */
  nav a {
    color: var(--purple);
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    font-family: 'Sanchez';
  }

  a {
    text-decoration: none;
    color: var(--purple)
  }
  /* mouse over link */
    a:hover {
      color: var(--midpurple);
  }
  
  /* selected link */
    a:active {
      color: var(--blue);
  }
/* flex wrap elements for accessible viewing*/
  main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  
  /*sections for breaking up content - includes clear header*/
  section {
    background-color: var(--midpurple);
    padding: 20px;
    color: var(--white);
  }
  /*background image for content and images- flex. Background colour for slow browser*/
  article {
      padding: 20px;
      align-content: center;
      padding: 20px;
      background-image: url(../assets/images/pinkballoons.jpg) ;
      background-size:contain;
      background-repeat: repeat;
      background-color: var(--yellow);
      flex-wrap:wrap;
      display:flex;
      justify-content: center;
      align-items: stretch;
  }

  footer {
    padding: 20px;
    text-align: center;
    background: var(--paleblue);
    color: var(--purple);
  }

  h2 {
    font-size: xx-large;
    font-family: 'Palette Mosaic', 'Lucida Sans','Lucida Grande', 'Lucida Sans Unicode', sans-serif;
  }
/*change colour for main project*/
  .WedHub {
    background-color: var(--paleblue);
    text-align: right;
    color: var(--purple);
    
  }
/*larger image and content section for main project - no larger than mobile screen width*/
  .Majorproject {
    margin: 5px;
    padding: 20px 20px 20px 20px;
    border: 3px solid var(--brightpink);
    justify-items: center;
    align-items: stretch;
    text-align: center;
    width: 300px;
    height: auto;

  }
  .Majorproject img {
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
  }

/*change colour for main project*/
  .Majorproject:hover {
    border: 10px solid var(--blue);
  }
  
/* matching card styles for other projects and content*/
  div.gallery {
    margin: 5px;
    padding: 20px 20px 20px 20px;
    border: 3px solid var(--brightpink);
    justify-items: center;
    align-items: stretch;
    text-align: center;
    width: 200px;
    height: auto;
    font-size: x-small;

  }

  div.gallery:hover {
    border: 10px solid var(--purple);
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
  }
/*Contact info*/
  .Contactme {
    text-align: center;
    background-color: var(--green);
  }

  div.center {
    margin: 5px;
    padding: 20px 20px 20px 20px;
    border: 3px solid var(--brightpink);
    width: 300px;
    height: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  div.center:hover {
    border: 10px solid var(--green);
  }

/*Designed for mobile in initial build - adjustments for desktops*/

  @media screen and (min-width: 768px) {

    header {
      background: var(--blue);
    }
/*horizontal nav bar in desktop display*/
    nav {
      flex-direction: row;
    }

    section {
      flex-wrap: wrap;
    }
  
    nav,
    footer {
      background-color: var(--paleblue);
    }

    /*larger image for main project on desktop*/
    .Majorproject {
      width: 700px;
      height: auto;
    }
/*larger font and width for desktop*/
    div.gallery {
      flex-direction: row;
      justify-content: center;
      width: 300px;
      font-size: medium;
    }
    .Contactme {
      flex-direction: column;
    }
  }

  
  
  